h1, h2, h3, h4 {
  font-weight: 600;
}

p {
  margin-bottom: 0;
  line-height: 1.8;
}

h1 {
  font-size: 70px;
  letter-spacing: -5px;
  font-weight: bold;
  font-style: italic;
}

h2 {
  font-size: 35px;
  letter-spacing: -3px;
  font-weight: bold;
  font-style: italic;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 14px;
  color: $color-7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}