// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i');

// Colors
$color-1: #f27620;
$color-2: #504f4f;
$color-3: #fff;
$color-4: #3b5998;
$color-5: #1da1f2;
$color-6: #e62117;
$color-7: #868686;
$color-8: #1c1c1c;
$color-9: #d55700;

.color-1 {
  color: $color-1;
}

.color-2 {
  color: $color-2;
}

.color-3 {
  color: $color-3;
}

.color-4 {
  color: $color-4;
}

.color-5 {
  color: $color-5;
}

.color-6 {
  color: $color-6;
}

.color-7 {
  color: $color-7;
}

.color-8 {
  color: $color-8;
}

.color-9 {
  color: $color-9;
}

